// Color palatte
$border-radius-s: 0.25rem;
$border-radius-m: 0.5rem;
$border-radius-l: 50%;
$box-shadow-s: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-l: 0 1rem 3rem rgba(0, 0, 0, 0.15);

$pallete-keys: "base" !default;

$pallete: (
  "primary": (
    "base": #27496d,
    "light": #0c7b93,
    "dark": #142850,
  ),
  "accent": (
    "base": #fcd1d1,
    "light": #ffdad9,
    "dark": #eaa098,
    //darksalmon
  ),
  "secondary": (
    "base": #97cfcd,
    "light": #98fffb,
    "dark": #2a9b97,
  ),
  "ternary": (
    "base": #5927e5,
    "one": #ff4d6d,
    "two": #ffd60a,
    "three": #52b788,
    "four": #9d4edd,
  ),
  "foreground": (
    "base": #191919,
    "light": #333333,
    "dark": #111111,
    "darker": #000000,
  ),
  "background": (
    "base": #fbfffe,
    "light": #ffffff,
    "dark": #dddddd,
  ),
  "onColor": (
    "base": #fff,
    "primary": #fff,
    "secondary": #000,
    "background": #fff,
    "foreground": #000,
    "accent": #000,
  ),
  "text": (
    "base": #000,
    "light": #efefef,
    "mild": #b2b6b7,
    "dark": #000,
  ),
);

$pallete-opacity: (
  "light": 0.8,
  // opacity used with lighter colors
  "dark": 0.4,
  // opacity used with darker colors
  // ... etc.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

@function color($name: "primary", $variant: $pallete-keys, $opacity: 1) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($pallete, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  // Get the alpha setting
  $alpha: if(
    type-of($opacity) == "number",
    $opacity,
    map-get($pallete-opacity, $opacity)
  );

  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}

// fluid font size

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
